{% extends 'layouts.master' %}

{% block content %}

{# Page Header #}
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">{{ trans('common.cart') }}</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{{ link('/') }}">{{ trans('common.home') }}</a></li>
        <li class="breadcrumb-item active text-white">{{ trans('common.cart') }}</li>
    </ol>
</div>

{# Cart Section #}
<div class="container-fluid py-5">
    <div class="container py-5">
        <salla-cart-summary></salla-cart-summary>
    </div>
</div>

{% endblock %}

